:root {
    /*Fonts*/
    --fontHeading: 'Pt Sans', sans-serif;
    --fontparagraphs: 'Open Sans', sans-serif;

    /*Colors*/
    --primario: #784D3C;
    --secundario:#bab55c;
    --gris: #e1e1e1;
    --blanco: #ffffff;
    --negro: #000000;
}

html {
    box-sizing: border-box; /*Hace que los paddings, borders, no afectan el ancho de los elementos*/
    font-size: 62.5%; /*1rem == 10px*/
}

*, *:before, *::after {
    box-sizing: inherit;
}

body {
    font-family: var(--fontparagraphs);
    font-size: 1.6rem;
    line-height: 2;/*interlineado*/
}

/*Globales*/

.contenedor {
    max-width:120rem;
    width: 90%;
    width: min(90%, 120rem);/*Esta línea reemplaza las dos lineas anteriores*/
    margin: 0 auto;
}

a {
text-decoration: none;
transition: all 0.2s ease;
}

h1, h2, h3, h4 {
    font-family: var(--fontHeading);
    line-height: 1.2;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3.2rem;
}

h4 {
    font-size: 3rem;
}

img {
    max-width: 100%;
}

/*Utilities*/

.no-margin {
    margin: 0;
}

.no-padding {
    padding: 0;
}

.centrar-texto {
    text-align: center;
}

/* Header */

.header {
    background-image:url(/resources/banner.jpg);
    height: 60rem;
    background-size: cover;/*Toma todo el espacio disponible*/
    background-repeat: no-repeat;
    background-position: center center;/*Posiciona la img en el centro x,y*/
}

.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}

@media (min-width: 768px) {
    .header__texto {
        margin-top: 12rem;
    }
}

.barra {
    padding: 2rem;
}

@media (min-width: 768px) {
    .barra { 
        display: flex;
        justify-content: space-between;/*Alinear horizontalmente*/
        align-items: center; /*alinear vert.*/
    }
}

.logo {
    color: var(--blanco);
}

.logo__nombre {
    font-weight: normal;
}

.logo__bold {
    font-weight: 700;
}


@media (min-width: 768px) {
    .navegacion {
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace {
    display: block;/*Elementos uno encima del otro*/
    text-align: center;
    font-size: 1.8rem;
    color: var(--blanco);
}

@media (min-width: 768px) {
    .contenido-principal { 
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 4rem;
    }    
}

.entrada {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
}

.entrada:last-of-type { /*Selecciona el último elemento de clase entrada*/
    border: none;
    margin-bottom: 0;
}

.boton {
    display: block;
    font-family: var(--fontHeading);
    color: var(--blanco);
    text-align: center;
    padding: 1rem 3rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out; /* Transición suave para todas las propiedades */
}

@media (min-width: 768px) {
    .boton {
        display: inline-block; /*El display inline ignora los width y los margin, así que se usa inline:block*/
    }
}



.boton:hover {
    cursor: pointer;   
    background-color: var(--secundario);
    transform: scale(1.05); /* Aumenta tamaño un 5% */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

a:hover {
    transform: translateY(-2px); /* Movimiento sutil hacia arriba */
}

.boton--primario {
    background-color: var(--negro);
}

.boton--secundario {
    background-color: var(--primario);
}

.cursos {
    list-style: none;
}

.widget-curso {
    border-bottom: 1px solid var(--gris);
    margin-bottom: 2rem;
    font-size: larger;
}

.widget-curso:last-of-type {
    border-bottom: none;
    margin-bottom: none;
}

.widget-curso__label,
.curso__label {
    font-family: var(--fontHeading);
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
}

.widget-curso__info,
.curso__info {
    font-weight: normal;
}

/* Footer */

.footer {
    background-color: var(--negro);
    padding-bottom: .2rem;
}

.footer p {
    color: var(--blanco);
    text-align: center;
    margin-bottom: 2.5rem;
}

/* Sobre Nosotros */

.sobre--nosotros {
    gap: 2rem;
}

@media (min-width: 768px) {
    .sobre--nosotros {
       display: grid; 
       grid-template-columns: repeat(2, 1fr);
       column-gap: 2rem;
    }
}

/* Cursos */

.curso {
    padding: 3rem 0;
    border-bottom: solid var(--gris);
}

.curso img {
    border-radius: 1rem;
}

@media (min-width: 768px) {
    .curso {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
}

.curso:last-of-type {
    border: none;
}

/* Contacto */

.contacto-bg {
    background-image: url(../resources/contacto.jpg);
    height: 40rem;
    background-size: cover;
    border-radius: 1rem;
}

/* Contacto */

.titulo-campo {
    text-align: center;
    font-family:var(--fontHeading);
    font-weight: 700;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.formulario {
    background-color: var(--gris);
    margin: -5rem auto 0 auto;
    width: 95%;
    padding: 5rem;
    border-radius: 1rem;
}

.campo {
    display: flex;
    margin-bottom: 2rem;
    text-align: right;
    gap: 2rem;
}

.campo__label {
    flex: 0 0 9rem;
}

.campo__field {
    flex: 1; /*como el label no tiene factor de crecimiento (0), y el flex tiene 1, el flex tomará todo el espacio disponible*/
    border: 1px solid var(--primario);
    border-radius: 1rem;
}



.campo__field--textArea {
    height: 15rem;
}

@media (max-width: 468px) {
    .campo  {
        flex-wrap: wrap;
        gap: 1rem; /* Reducir espacio entre elementos */
    }
    
    /* ESPECÍFICO PARA EL LABEL DEL MENSAJE */
    .campo:last-of-type .campo__label {
        flex: 0 0 100%; /* Ocupa todo el ancho */
        margin-bottom: 1rem; /* Espacio debajo del label */
    }
    
    /* AJUSTES GENERALES PARA TODOS LOS CAMPOS */
    .campo__label {
        flex: 0 0 100%; /* Todos los labels ocupan ancho completo */
        font-size: 15px;
        font-weight: 600;
        text-align: start;
    }
    
    .campo__field {
        width: 100%; /* Asegura que ocupe todo el ancho */
        height: 4rem; /* Altura automática */
    }
    
    .campo__field--textArea {
        height: 10rem; /* Altura más apropiada para móvil */
    }
}